<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Importation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Importation</h3>

  <button ion-button center (click)="facebookImportation()">
    Importation avec Facebook
  </button>

  <button ion-button center (click)="contactImportation()">
    Importation des contacts
  </button>

  <ion-list>
    <button ion-item *ngFor="let friend of friendList">
      <div class="item-note" item-right>
        {{friend.id}}
      </div>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item *ngFor="let contact of allContacts">
      <div class="item-note" item-right (click)="showModalChoice(contact)">
        {{contact.displayName}}
      </div>
    </button>
  </ion-list>


  <!--<ion-card *ngIf="userProfile">
    <img [src]="userProfile.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{ userProfile.displayName }}
      </ion-card-title>
      <p>
        Identifiant utilisateur : {{userProfile.uid}}, email : {{userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>-->


</ion-content>
